.vscode/**
.vscode-test/**
out/ludicrous-old1/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
!out/**/*.js
**/.vscode-test.*
.env
